{
  "allow_chat_override": true,
  "chat_model": {
    "provider": "ollama",
    "name": "${OLLAMA_MODEL_NAME}",
    "api_base": "${OLLAMA_INTERNAL_URL}",
    "ctx_length": 128000,
    "ctx_history": 0.7,
    "vision": false,
    "max_embeds": 10,
    "rl_requests": 0,
    "rl_input": 0,
    "rl_output": 0,
    "kwargs": {}
  },
  "utility_model": {
    "provider": "ollama",
    "name": "${OLLAMA_MODEL_NAME}",
    "api_base": "${OLLAMA_INTERNAL_URL}",
    "ctx_length": 128000,
    "ctx_history": 0.7,
    "rl_requests": 0,
    "rl_input": 0,
    "rl_output": 0,
    "kwargs": {}
  },
  "embedding_model": {
    "provider": "huggingface",
    "name": "sentence-transformers/all-MiniLM-L6-v2",
    "api_base": "",
    "rl_requests": 0,
    "rl_input": 0,
    "kwargs": {}
  }
}
